@import "tailwindcss";

@theme{
    --font-Logo: 'Jacques Francois Shadow', 'sans-serif';
    --font-Heading: 'Julius Sans One', 'sans-serif';
    --font-Content: 'Lekton', "sans-serif";
    --font-Message: 'Send Flowers', "sans-serif";
    --font-Special: 'Megrim', "sans-serif";
    --color-red: #FFD5D5;
    --color-orange: #FFE9DB;
    --color-yellow: #FEFFD9;
    --color-green: #E1FFD0;
    --color-teal: #D0FFEC;
    --color-cyan: #C8FFFF;
    --color-aqua: #D2EEFF;
    --color-blue: #D8DEFF;
    --color-indigo: #E4D9FF;
    --color-violet: #F8D5FF;
    --color-pink: #FFD9ED;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	@apply  bg-neutral-100 text-black transition-colors duration-300 ;
}

.dark body {
	@apply bg-neutral-900 text-white;
}

input::placeholder {
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  @layer utilities {
	@keyframes fadeInCard {
		from {
			opacity: 0;
			transform: scale(0.9);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	.animate-fadeInCard {
		animation: fadeInCard 0.5s ease-out forwards;
	}
}