@import "tailwindcss";

@theme {
	--font-Logo: "Pacifico", "cursive", "sans-serif";
	--font-Heading: "Julius Sans One", "sans-serif";
	--font-Content: "Lekton", "sans-serif";
	--font-Message1: "Festive", "cursive", "sans-serif";
	--font-Message2: "Schoolbell", "cursive", "sans-serif";
	--font-Message3: "Kalam", "cursive", "sans-serif";
	--font-Message4: "Kenia", "cursive", "sans-serif";
	--font-Message5: "Emilys Candy", "cursive", "sans-serif";
	--font-Message6: "WDXL Lubrifont TC", "cursive", "sans-serif";
	--font-Message7: "Pirata One", "cursive", "sans-serif";
	--font-Special: "Megrim", "sans-serif";
	--color-red: #ffd5d5;
	--color-orange: #ffe9db;
	--color-yellow: #feffd9;
	--color-green: #e1ffd0;
	--color-teal: #d0ffec;
	--color-cyan: #c8ffff;
	--color-aqua: #d2eeff;
	--color-blue: #d8deff;
	--color-indigo: #e4d9ff;
	--color-violet: #f8d5ff;
	--color-pink: #ffd9ed;
  --color-blank: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
	@apply bg-neutral-100 text-black transition-colors duration-300;
}

.dark body {
	@apply bg-neutral-900 text-white;
}

input::placeholder {
	transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
}

@layer utilities {
  .velope-full-card {
    @apply relative text-black flex flex-col rounded-xl border-[0.5px] md:border-1 dark:border-white shadow-sm transition-all duration-300 p-4 md:p-5 2xl:p-6;
    background-image: url('/assets/paper-texture.png');
    background-size: cover;
    background-blend-mode: multiply;
  }

  .type-display {
    @apply text-2xl md:text-3xl 2xl:text-4xl;
  }

  .type-title {
    @apply text-lg md:text-xl 2xl:text-2xl;
  }

  .type-heading {
    @apply text-base md:text-lg 2xl:text-xl;
  }

  .type-body {
    @apply text-base md:text-lg 2xl:text-xl;
  }

  .type-meta {
    @apply text-sm md:text-base 2xl:text-base;
  }

  .type-micro {
    @apply text-xs md:text-xs 2xl:text-xs;
  }

	@keyframes fadeInCard {
		from {
			opacity: 0;
			transform: scale(0.9);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	.animate-fadeInCard {
		animation: fadeInCard 0.5s ease-out forwards;
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.animate-slide-up {
	animation: slideUp 0.3s ease-out;
}

.animate-fadeIn {
	animation: fadeIn 0.4s ease-out forwards;
}


@layer utilities {
  .slide-enter-left {
    animation: slideEnterLeft 0.4s ease forwards;
  }

  .slide-exit-left {
    animation: slideExitLeft 0.4s ease forwards;
  }

  .slide-enter-right {
    animation: slideEnterRight 0.4s ease forwards;
  }

  .slide-exit-right {
    animation: slideExitRight 0.4s ease forwards;
  }

  @keyframes slideEnterLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slideExitLeft {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slideEnterRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slideExitRight {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}